Untitled-1.ipynb
build/
dist/
gui scratch.py
vtu marks scraper app by nithinhm - CLI.py
vtu marks scraper app by nithinhm - GUI.spec
vtu marks scraper app by nithinhm.spec
vtu reval marks scraper app by nithinhm - GUI.spec